<app-page-header [heading]="'Permissões'" [icon]="'fa-table'"></app-page-header>

<div class="row">
  <div class="col-xl-12">
    <!--ADICIONAR PERMISSÃO -->
    <div class="mb-3">
      <button type="button" class="btn btn-sm btn-success align-right" title="Adicionar permissão" (click)="openRegister()">
        Adicionar
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="card mb-3">
      <div class="table-responsive">
        <table class="table table-hover no-padding">
          <thead>
            <tr>
              <th>#</th>
              <th>Titulo</th>
              <th>Autorização</th>
              <th colspan="5">Descrição</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of permissoes">
              <td>{{ p.id }}</td>
              <td>{{ p.titulo }}</td>
              <td>{{ p.autorizacao }}</td>
              <td colspan="4">{{ p.descricao }}</td>
              

              <!-- EDITAR PERMISSÃO -->
              <td class="lg-btn" (click)="onEdit(p)">
                <button class="btn btn-primary btn-sm" title="Editar">
                  <i class="fa icon-pencil fa-pencil fa-lg"></i>
                </button>
              </td>

              <!-- EXCLUIR PERMISSÃO -->
              <td class="lg-btn" (click)="removePermissao(p)">
                <button class="btn btn-danger btn-sm" title="Excluír">
                  <i class="fa icon-trash fa-trash fa-lg"></i>
                </button>
              </td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-spinner></app-spinner>
