.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    background: #fff;
    padding: 12px;
    color: #444;
    border-top: 1px solid #d2d6de;
}    

.align-right {
    color: blue;
    float: right;
}
