<footer class="footer">
  <small>Copyright &copy; 2018 <a href="https://www.linkedin.com/in/fabio-francisco-campelo-51ba75110" target="_blank">Fábio Campêllo</a>. </small> 
  <small>All rights reserved.</small>
  <small class="align-right">Version: 0.0.3</small>
</footer>
  