<div class="row bg-color">
  <div class="col-xl-3"></div>
  <div class="col-xl-6 align-text">
    <h1><b>404 Not Found</b></h1>
    <div>The requested resource could not be found.</div>
  </div>
  <div class="col-xl-3"></div>
</div>