<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4 bg-color">

            <!-- LOGO DO SISTEMA -->
            <img class="user-avatar zoom" src="assets/images/logo-associacao.jpeg" width="120px" />

            <!-- TÍTULO -->
            <h1>APROMUC</h1>

            <!-- FORMULÁRIO -->
            <form  role="form">
                <div>
                    <!-- INPUT E-MAIL -->
                    <div class="form-group">
                        <input type="email" [(ngModel)]="user.email" name="email" class="form-control input-underline input-lg" 
                        placeholder="Email">
                    </div>
  
                    <!-- INPUT SENHA -->
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.senha" name="password" class="form-control input-underline input-lg" 
                        placeholder="Senha">
                    </div>
                </div>
                
                <!-- ENTRAR NA APLICAÇÃO -->
                <div>
                    <a class="btn rounded-btn btn-block zoom" (click)="onLoggedin()"> Entrar </a>
                </div>
                <br>

                <!-- CADASTRAR USUÁRIO -->
                <div>
                    <a class="btn rounded-btn zoom" [routerLink]="['/register']">Cadastre-se</a>
                </div>

                <!-- ESQUECEU A SENHA -->
                <div class="pass">
                    <a class="text-write" [routerLink]="['/password/email']">esqueceu sua senha?</a>
                </div>
            
            </form>
        </div>
    </div>
</div>
<app-spinner></app-spinner>
<app-alert></app-alert>
