<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4 bg-color">

            <!-- LOGO DO SISTEMA -->
            <img class="user-avatar zoom" src="assets/images/logo-associacao.jpeg" width="120px" />

            <!-- TÍTULO -->
            <h1>Informe o código</h1>

            <!-- FORMULÁRIO -->
            <form  role="form">
                <div>
                    <!-- INPUT CÓDIGO -->
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.codigo" name="password" class="form-control input-underline input-lg" placeholder="Código" required>
                    </div>
                </div>
                
                <!-- ENTRAR NA APLICAÇÃO -->
                <div>
                    <a class="btn rounded-btn btn-block zoom" (click)="confirmRecovery()"> Avançar </a>
                </div>
                <br>

                <!-- VOLTAR -->
                <div>
                    <a class="btn rounded-btn zoom" [routerLink]="['/password/email']">Voltar</a>
                </div>

            </form>
        </div>
    </div>
</div>
<app-alert></app-alert>    
    