<ul class="pagination pagination-xs no-margin">
  <li><a href="javascript:void(0)" (click)="onClickFirstButton(page?.actualPage)"> << </a></li>
  <li><a href="javascript:void(0)" (click)="onClickLeftButton(page?.actualPage)">«</a></li>
  <li *ngFor="let p of pages" [ngClass]="{active: (p === page?.actualPage)}">
    <a  href="javascript:void(0)" (click)="onClickPageButton(p)">{{ p + 1 }}</a>
  </li>
  <li><a href="javascript:void(0)" (click)="onClickRightButton(page?.actualPage)">»</a></li>
  <li><a href="javascript:void(0)" (click)="onClickLastButton(page?.actualPage)"> >> </a></li>
</ul>
