<app-page-header [heading]="title" [icon]="'fa fa-fw fa-key fas'"></app-page-header>

<div class="row mt-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="dForm" (ngSubmit)="ngOnSubmit()" role="form" id="new-access" ngNativeValidate>
          <div class="row">
            <!-- AUTORIZAÇÃO -->
            <div class="col-lg-6">
              <fieldset class="form-group">
                Título
                <input type="text" class="form-control" id="input-titulo" formControlName="titulo" placeholder="Título" required>
              </fieldset>
            </div>

            <!-- AUTORIZAÇÃO -->
            <div class="col-lg-6">
              <fieldset class="form-group">
                Autorização
                <input type="text" class="form-control" id="input-autorizacao" formControlName="autorizacao" placeholder="Nome autorização" required>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <!-- DESCRIÇÃO -->
            <div class="col-lg-12">
              <fieldset class="form-group">
                Descrição
                <input type="text" class="form-control" id="input-descricao" formControlName="descricao" placeholder="Descrição" required>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-12">
              <!-- CADASTRAR/ATUALIZAR -->
              <div class="mb-2">
          
                <button type="submit" class="btn btn-sm btn-success align-left">
                  {{labelSuccess}}
                </button>
          
                <!-- VOLTAR -->
                <button type="submit" class="btn btn-sm btn-primary align-btn-goBack" routerLink="/roles">
                  Voltar
                </button>
          
              </div>  
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-spinner></app-spinner>
