<app-page-header [heading]="title" [icon]="'fa-user'"></app-page-header>

<div class="row mt-3">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <ngb-tabset>

            <!-- TAB PERFIL DO USUÁRIO -->
            <ngb-tab title="Usuário">
              <ng-template ngbTabContent>
                <app-user></app-user>
              </ng-template>
            </ngb-tab>

            <!-- TAB PERMISSÕES DO USUÁRIO -->
            <!-- <ngb-tab>
              <ng-template ngbTabTitle>Permissões</ng-template>
              <ng-template ngbTabContent>
                <app-permissao></app-permissao>
              </ng-template>
            </ngb-tab> -->

          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
    
