<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4 bg-color">

            <!-- LOGO DO SISTEMA -->
            <img class="user-avatar zoom" src="assets/images/logo-associacao.jpeg" width="120px" />

            <!-- TÍTULO -->
            <h1>Nova senha</h1>

            <!-- FORMULÁRIO -->
            <form  role="form">
                <div>
                    <!-- INPUT SENHA -->
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.senha" name="password" class="form-control input-underline input-lg" placeholder="Senha" required>
                    </div>
                </div>

                <!-- INPUT CONFIRMAÇÃO DE SENHA -->
                <div class="form-group">
                    <input type="password" [(ngModel)]="confirPassword" name="confirPassword" class="form-control input-underline input-lg" placeholder="Confirme sua senha" required>
                </div>
                
                <!-- IR P/ LOGIN -->
                <div>
                    <a class="btn rounded-btn btn-block zoom" (click)="setNewPassword()"> Avançar </a>
                </div>
                <br>

                <!-- VOLTAR -->
                <div>
                    <a class="btn rounded-btn zoom" [routerLink]="['/password/codigo']">Voltar</a>
                </div>

            </form>
        </div>
    </div>
</div>    
<app-alert></app-alert> 
