<app-page-header [heading]="'Associados'" [icon]="'fa-table'"></app-page-header>

<div class="row" *ngIf="hiddenFiltro">

    <!-- selecionando planilha excel -->
    <div class="col-xl-5 text-xs-center">
        <div class="mb-3" *ngIf="hidden">
        <input class="btn btn-outline-primary mg-bottom" type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
        </div>
    </div>
    
    <!-- import planilha excel -->
    <div class="col-xl-2 text-xs-center" title="Importar planilha excel">
        <div class="mb-3" *ngIf="hidden">
        <div class="btn btn-outline-success" (click)="Upload()">
            <i class="fa fa-file-excel-o" style="font-size:17px;"></i>
            Importar <i class="fa fa-upload"></i></div>
        </div>
    </div>
    
    <!-- exportando planilha excel -->
    <div class="col-xl-2 text-xs-center" title="Exportar planilha excel">
        <div class="mb-3">
        <div class="btn btn-outline-success" (click)="exportAsXLSX()">
            <i class="fa fa-file-excel-o" style="font-size:17px;"></i>
            Exportar <i class="fa fa-download"></i></div>
        </div>
    </div>
    
    <!-- adicionar usuário -->
    <div class="col-xl-3">
        <div class="mb-3">
        <button type="button" class="btn btn-sm btn-outline-success align-left" title="Adicionar usuário" (click)="openRegister()">
            Adicionar
        </button>
        </div>
    </div>
</div>

<!-- CAMPOS DE FILTRO DO ASSOCIADO -->
<div id="lenda" *ngIf="hiddenFiltro">
    <span class="margin">Filtros</span>

    <div class="row">
        <div class="col-xl-12">
            
            <!-- PESQUISAR ASSOCIADO POR LOTAÇÃO -->
            <div class="input-group input-group col-xl-4" style="float: right;">
                <input type="text" 
                    name="lotacao"
                    class="form-control" 
                    placeholder="Por lotação"
                    (keyup.enter)="getAssociadoByLotacao(lotacao)" 
                    [(ngModel)]="lotacao">  
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default" (click)="getAssociadoByLotacao(lotacao)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <!-- PESQUISAR ASSOCIADO POR NOME -->
            <div class="input-group input-group col-xl-5" style="float: right;">
                <input type="text" 
                    name="nome"
                    class="form-control" 
                    placeholder="Por nome"
                    (keyup.enter)="getAssociadoByLikeNome(nome)" 
                    [(ngModel)]="nome">  
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default" (click)="getAssociadoByLikeNome(nome)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <!-- PESQUISAR ASSOCIADO POR MATRÍCULA -->
            <div class="input-group input-group col-xl-3">
                    <input type="text" 
                    name="matricula"
                    class="form-control" 
                    placeholder="Por matrícula"
                    (keyup.enter)="getAssociadoByLikeMatricula(matricula)" 
                    [(ngModel)]="matricula">  
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default" (click)="getAssociadoByLikeMatricula(matricula)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <br>
        </div>
    </div>

</div>

<!-- CAMPOS DE FILTRO DE ANIVERSARIANTES -->
<div id="lendaNiver" *ngIf="hiddenFiltroNiver">
    <span class="margin">Filtro de aniversariantes</span>

    <div class="row">
        <div class="col-xl-12" style="padding-bottom: 1%;">

            <!-- PESQUISAR ASSOCIADO POR DATA INICIAL DE ANIVERSÁRIO -->
            <div class="input-group input-group col-xl-3" style="float: left;">
                <input type="date" 
                    name="dataInicio"
                    class="form-control" 
                    placeholder="Data início"
                    (change)="writeDataInicio($event.target.value)"
                    ([ngModel])="dataInicio"
                    max="0001-01-01">  
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
            </div>

            <!-- PESQUISAR ASSOCIADO POR DATA FINAL DE ANIVERSÁRIO -->
            <div class="input-group input-group col-xl-3" style="float: left;">
                    <input type="date" 
                    name="dataFim"
                    class="form-control" 
                    placeholder="Data final"
                    (change)="writeDataFim($event.target.value)"
                    [ngModel]="dataFim"
                    max="0001-01-01">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
            </div>

            <!-- Botão pesquisar aniversariantes -->
            <div class="col-xl-2" id="div-niver" style="float: right;">
                <button class="btn btn-sm btn-outline-success niver" title="Adicionar usuário" (click)="getListAniversariantes()">
                    Pesquisar
                </button>
            </div>

            <br>
        </div>
    </div>
</div>
    
<div class="row">
    <div class="col-xl-12">
        <div class="card mb-3">
            <div class="table-responsive">
                <table class="table table-hover no-padding">
                    <thead>
                        <tr>
                            <!-- SELECIONAR TODOS -->
                            <th>
                                <input type="checkbox" (change)="isSelected()"> Todos
                            </th>
                            <th>Matrícula</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Lotação</th>
                            <th *ngIf="hiddenFiltroNiver">Nascimento</th>
                            <th rowspan="3">Status</th>
                            <th></th>

                            <!-- ENVIAR EMAIL(s) -->
                            <th><app-modal-email [listEmails]="listEmail"></app-modal-email></th>

                            <!-- OCULTAR/EXPANDIR FILTROS E BOTÕES -->
                            <th>
                                <small> 
                                    <button class="btn btn-outline-info btn-sm" (click)="toggleFiltro()" title="{{ textLabel }}">
                                        <i class="fa fa-sliders fa-lg"></i>
                                    </button>
                                </small>
                            </th>

                             <!-- OCULTAR/EXPANDIR FILTRO ANIVERSARIANTES -->
                             <th>
                                <small> 
                                    <button class="btn btn-outline-info btn-sm" (click)="toggleFiltroNiver()" title="{{ textLabelNiver }}">
                                        <i class="fa fa-birthday-cake fa-lg"></i>
                                    </button>
                                </small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of associados | paginate: { itemsPerPage: 20, currentPage: p}">
                            <td>
                                <input type="checkbox" (click)="adicionarEmail(a.email)" [(ngModel)]="a.isCheked" [checked]="isTrue">
                            </td>
                            <td><small>{{ a.matricula }}</small></td>
                            <td><small>{{ a.nome }}</small></td>
                            <td><small>{{ a.email }}</small></td>
                            <td><small>{{ a.lotacao }}</small></td>
                            <td *ngIf="hiddenFiltroNiver"><small>{{ a.dataNascimento }}</small></td>

                            <!-- INATIVAR ASSOCIADO -->
                            <td *ngIf="a.status" (click)="updateStatus(a)">
                                <small class="btn btn-sm btn-outline-success bg-tatus" title="Inativar">Ativo</small>
                            </td>

                            <!-- ATIVAR ASSOCIADO -->
                            <td *ngIf="!a.status" (click)="updateStatus(a)">
                                <small class="btn btn-sm btn-outline-danger bg-tatus" title="Ativar">Inativo</small>
                            </td>

                            <td></td>
                            <td></td>

                            <!-- EDITAR ASSOCIADO -->
                            <td class="lg-btn">
                                <button class="btn btn-outline-primary btn-sm" title="Editar" (click)="onEdit(a)">
                                    <i class="fa icon-pencil fa-pencil fa-lg"></i>
                                </button>
                            </td>

                            <!-- EXCLUIR ASSOCIADO -->
                            <td>
                                <button class="btn btn-outline-danger btn-sm" title="Excluir" (click)="openModalDelete(content, a)">
                                    <i class="fa icon-trash fa-trash fa-lg"></i>
                                </button>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- PAGINAÇÃO-->
        <small>
            <div class="box-footer text-center">
                <pagination-controls class="align-center" (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
            </div>
        </small>

    </div>
</div>
<app-spinner></app-spinner>
<app-alert></app-alert>

<!-- TEMPLATE DO MODAL DE EXCLUÃO DE REGISTRO DO ASSOCIADO -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
        Excluir
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Deseja realmente excluir esse registro?</p>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" (click)="c('Close click')">Não</button>
        <button type="button" class="btn btn-outline-info" (click)="c('Confirm click')">Sim</button>
    </div>
</ng-template>