.align-left {
    float: right;
    margin-bottom: 1%;
}

.bg-tatus {
    width: 100%;
    padding: 0;
}

.labelExport {
    color: blue;
    text-decoration: underline;
}

.lg-btn {
    width: 1%
}

.lock {
    padding-left: 30%;
    padding-right: 30%;
}

.lock-admin {
    padding-left: 25%;
    padding-right: 25%;
}

.font-size {
    font-size: 0.9em;
}

.bg-status {
    width: 100%;
    padding: 0;
}

#lenda { 
    border:1px solid #c0c0c0; 
    margin-bottom: 1%;
}

#lendaNiver { 
    border:1px solid #c0c0c0; 
    margin-bottom: 1%;
}

.margin {
    margin-left: 1%;
    margin-bottom: 1%;
}

#id-niver {
    float: right;
    margin-bottom: 2%;
}

.niver {
    right: 2%;
    float: right;
}
