<div [@routerTransition]>
    
    <app-page-header [heading]="'Dashboard'"></app-page-header>
    
    <div class="row">

        <div class="col-xl-3 col-lg-6">
            <app-card-dashboard [bgClass]="'primary'" [icon]="'fas fa-users'" [count]="numberAssociateds" [label]="'Total de Associados'" [route]="'/associateds'"></app-card-dashboard>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-card-dashboard [bgClass]="'success'" [icon]="'fas fa-users'" [count]="numberAssociatedsActives" [label]="'Associados Ativos'" [route]="'/associateds'"></app-card-dashboard>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-card-dashboard [bgClass]="'danger'" [icon]="'fa-user'" [count]="numberAssociatedsInactives" [label]="'Associados Inativos'" [route]="'/associateds'"></app-card-dashboard>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-card-dashboard [bgClass]="'secondary'" [icon]="'fa-user'" [count]="numberUsers" [label]="'Usuários'" [route]="'/users'"></app-card-dashboard>
        </div>
        
    </div>
    <br>
</div>
<app-spinner></app-spinner>
