<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4  bg-color">

            <!-- LOGO DO SISTEMA -->
            <img class="user-avatar zoom" src="assets/images/logo-associacao.jpeg" width="120px" />

            <!-- FORMULÁRIO -->
            <form role="form">
                <div class="">

                    <!-- INPUT NOME -->                    
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.nome" name="nome" class="form-control input-underline input-lg" placeholder="Nome" required>
                    </div>

                    <!-- INPUT E-MAIL -->
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control input-underline input-lg" placeholder="Email" required>
                    </div>

                    <!-- INPUT TELEFONE -->
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.fone" name="fone" mask='(00)00000-0000' class="form-control input-underline input-lg" placeholder="Telefone" required>
                    </div>

                    <!-- INPUT SENHA -->
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.senha" name="senha" class="form-control input-underline input-lg" placeholder="Senha" required>
                    </div>

                    <!-- INPUT CONFIRMAÇÃO DE SENHA -->
                    <div class="form-group">
                        <input type="password" [(ngModel)]="confirPassword" name="confirPassword" class="form-control input-underline input-lg" placeholder="Confirme sua senha" required>
                    </div>
                </div>
                
                <!-- CADASTRAR USUÁRIO -->
                <div>
                    <a class="btn rounded-btn btn-block zoom" (click)="saveUser()"> Cadastrar </a>
                </div>
                <br>

                <!-- VOLTR P/ LOGIN -->
                <div>
                    <a class="btn rounded-btn zoom" [routerLink]="['/login']">Voltar</a>
                </div>

            </form>
        </div>
    </div>
</div>
<app-alert></app-alert>
