<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4 bg-color">

            <!-- LOGO DO SISTEMA -->
            <img class="user-avatar zoom" src="assets/images/logo-associacao.jpeg" width="120px" />

            <!-- TÍTULO -->
            <h1>Redefinição de senha</h1>

            <!-- FORMULÁRIO -->
            <form  role="form">
                <div>
                    <!-- INPUT E-MAIL -->
                    <div class="form-group">
                        <input type="email" [(ngModel)]="user.email" name="email" class="form-control input-underline input-lg" placeholder="Email" required>
                    </div>
                </div>
                
                <!-- ENTRAR NA APLICAÇÃO -->
                <div>
                    <a class="btn rounded-btn btn-block zoom" (click)="isExistEmail()"> Enviar código </a>
                </div>
                <br>

                <!-- VOLTAR -->
                <div>
                    <a class="btn rounded-btn zoom" [routerLink]="['/login']">Voltar</a>
                </div>

            </form>
        </div>
    </div>
</div>
<app-alert></app-alert>    
