<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">

        <!-- ITEM MENU - DASHBOARD -->
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>

        <!-- LIST ITENS MENU - CADASTROS -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-database"></i>&nbsp;
                <span>{{ 'Cadastros' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <!-- ITEM MENU - ASSOCIATEDS -->
                    <li>
                        <a routerLink="/associateds" [routerLinkActive]="['router-link-active']" id="hover-to" class="list-group-item">
                            <i class="fa fa-fw fas fa-users"></i>&nbsp;
                            <span>{{ 'Associateds' | translate }}</span>
                        </a>
                    </li>

                    <!-- ITEM MENU - USERS -->
                    <li>
                        <a routerLink="/users" [routerLinkActive]="['router-link-active']" id="hover-to" class="list-group-item">
                            <i class="fa fa-fw fas fa-user"></i>&nbsp;
                            <span>{{ 'Users' | translate }}</span>
                        </a>
                    </li>

                    <!-- ITEM MENU - PERMISSÂO -->
                    <!--
                    <li *ngIf="permissao">
                        <a routerLink="/roles" [routerLinkActive]="['router-link-active']" id="hover-to" class="list-group-item">
                            <i class="fa fa-fw fa-key fas"></i>&nbsp;
                            <span>{{ 'Permission' | translate }}</span>
                        </a>
                    </li>
                    -->
                </ul>
            </li>
        </div>

        <div class="header-fields">
            <!-- DROPDOWN OPÇÕES DE IDIOMA -->
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>

                <!-- ITENS MENU - OPÇÕES DE IDIOMA -->
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('pt')">
                                {{ 'Portuguese' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>

            <!-- ITENS MENU - OPÇÕES DO PERFIL -->
            <div class="nested-menu">
                <!-- DROPDOWN OPÇÕES DO PERFIL -->
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{ user.nome }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>

        </div>
    </div>

    <!-- BOTÃO SIDE-MENU -->
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
