<!-- BOTÃO DE ENVIO DE EMAIL -->
<button class="btn btn-outline-info btn-sm" title="Enviar email" (click)="open(content)">
  <i class="fa fa-envelope fa-lg"></i>
</button>

<!-- TEMPLATE DO MODAL DE EMAIL -->
<ng-template #content let-c="close" let-d="dismiss">

  <!-- TÍTULO DO MODAL -->
  <div class="modal-header">
    <h4 class="modal-title">Enviar email</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- CORPO DO MODAL -->
  <div class="modal-body">
    <form enctype="multipart/form-data">

      <!-- INPUT TÍTULO DA MENSAGEM -->
      <fieldset class="form-group">
          <label for="exampleInputFile">Título</label>
        <input type="text" class="form-control" name="titulo" (change)="writeTextTitulo($event.target.value)" [ngModel]="titulo">
      </fieldset>

      <!-- INPUT DA MENSAGEM -->
      <fieldset class="form-group">
          <label for="exampleInputFile">Mensagem</label>
        <textarea class="form-control" rows="3" name="body" (change)="writeTextMsg($event.target.value)" [ngModel]="body"></textarea>
      </fieldset>

      <!-- INPUT ANEXO -->
      <div class="col-xl-12 text-xs-center">
        <div class="mb-3">
          <input class="btn mg-bottom" type="file" name="file" style="display: inline-block; width: 100%;" 
          (change)="inputFileChange($event)" placeholder="Upload file" id="inputFile"
          accept=".jpeg,.jpg,.png,.pdf,.txt,.doc,.docx,.xlsx,.gif">
        </div>
      </div>

      <!-- FOOTER - MODAL -->
      <div class="row modal-footer footer">

        <!-- FECHAR -->
        <button type="button" class="btn btn-secondary" (click)="c('Fecha click')">Fechar</button>
      
        <!-- ENVIAR -->
        <button type="button" class="btn btn-success" (click)="d('email')">Enviar</button>
        
      </div>
    </form>
  </div>
    
</ng-template>
<app-alert></app-alert>