<div class="row bg-color">
  <div class="col-xl-3"></div>
  <div class="col-xl-6 align-text">
    <h1><b>400 Bad request</b></h1>
    <div>The server could not understand the request invalid request.</div>
  </div>
  <div class="col-xl-3"></div>
</div>