.centralizar {
  margin: 0 auto;
}

input {
  margin:0 12px 0 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.align-left {
  float: right;
}

.align-btn-goBack {
  float: right;
  margin-right: 2%;
}