<form (ngSubmit)="ngOnSubmit()">
  <fieldset class="form-group">
    <div class="row centralizar">
      <div class="form-check" *ngFor="let cat of permissoes">
        <input class="form-check-input" (change)="onChange(cat.id, $event.target.checked)" name="{{ cat.titulo }}" type="checkbox" id="{{cat.titulo}}">
        <label class="form-check-label" for="{{cat.titulo}}">
            {{cat.titulo}}
        </label>
      </div>
    </div>
  </fieldset>

  <div class="col-xl-12">
    <!-- CADASTRAR/ATUALIZAR -->
    <div class="mb-2">

      <button type="submit" class="btn btn-sm btn-success align-left" title="{{legBtnSave}}">
        {{labelSuccess}}
      </button>

      <!-- VOLTAR -->
      <button type="submit" class="btn btn-sm btn-primary align-btn-goBack" routerLink="/users">
        Voltar
      </button>

    </div>  
  </div>
</form>

<p class="row">
  <span class="centralizar">{{listPermissoes | json}}</span>
</p>
<app-spinner></app-spinner>
