<br>
<form [formGroup]="dForm" (ngSubmit)="ngOnSubmit()" role="form" id="new-user" ngNativeValidate>
  <div class="row">

    <!-- NOME -->
    <div class="col-lg-6">
      <fieldset class="form-group">
        Nome
        <input type="text" class="form-control" id="input-nome" formControlName="nome" placeholder="Nome completo" required>
      </fieldset>
    </div>

    <!-- EMAIL -->
    <div class="col-lg-6">
      <fieldset class="form-group">
        Email
        <input type="email" class="form-control" id="input-login" formControlName="email" placeholder="Digite seu email" required>
      </fieldset>
    </div>
  </div>

  <!-- TELEFONE -->
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        Telefone
        <input type="text" class="form-control mask-telefone" id="input-fone" formControlName="fone" placeholder="Telefone" mask='(00)00000-0000' required>
      </fieldset>
    </div>

    <!-- NIVEL -->
    <div class="col-lg-3">
      <div class="form-group" *ngIf="hidden">
        Nível
        <select class="form-control" id="input-nivel" formControlName="nivel" required>
          <option value="{{ nivel }}">{{ nivel }}</option>
          <option *ngIf="nivel != 0" value="0">0</option>
          <option *ngIf="nivel != 1" value="1">1</option>
          <option *ngIf="nivel != 2" value="2">2</option>
          <option *ngIf="nivel != 3" value="3">3</option>
          <option *ngIf="nivel != 4" value="4">4</option>
          <option *ngIf="nivel != 5" value="5">5</option>
        </select>
      </div>  
    </div>

    <!-- STATUS -->
    <div class="col-lg-3">
      <div *ngIf="hidden">
        Status
        <select class="form-control" id="input-status" formControlName="status" required>
          <option *ngIf="status != 'true'" value="true"><b>Ativo</b></option>
          <option *ngIf="status != 'false'" value="false"><b>Inativo</b></option>
        </select>
      </div>
    </div>
  </div>
   
  <div class="col-xl-12">
    <!-- CADASTRAR/ATUALIZAR -->
    <div class="mb-2">

      <button type="submit" class="btn btn-sm btn-outline-success align-left" title="{{legBtnSave}}">
        {{labelSuccess}}
      </button>

      <!-- VOLTAR -->
      <button type="submit" class="btn btn-sm btn-outline-primary align-btn-goBack" routerLink="/users">
        Voltar
      </button>

    </div>  
  </div>
</form>
<app-spinner></app-spinner>
<app-alert></app-alert>

