<div class="alert alert-{{ type }} alert-dismissible">
  <button type="button" class="close" aria-hidden="true" (click)="onClickCloseButton()">×</button>
  <h4><i class="icon fa fa-ban"></i> {{ title }}</h4>
  {{ msg }}
</div>

