.align-left {
    float: right;
    margin-bottom: 1%;
}

.bg-status {
    width: 100%;
    padding: 0;
}

.labelExport {
    color: blue;
    text-decoration: underline;
}

.lg-btn {
    width: 1%
}

.lock {
    padding-left: 30%;
    padding-right: 30%;
}

.lock-admin {
    padding-left: 25%;
    padding-right: 25%;
}