<app-page-header [heading]="'Usuários'" [icon]="'fa-table'"></app-page-header>

<div class="row" *ngIf="hiddenFiltro">

  <!-- selecionando planilha excel -->
  <div class="col-xl-5 text-xs-center">
    <div class="mb-3" >
      <input class="btn btn-outline-primary mg-bottom" type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
    </div>
  </div>

  <!-- import planilha excel -->
  <div class="col-xl-2 text-xs-center">
    <div class="mb-3">
      <button class="btn btn-outline-success" (click)="Upload()" title="Importar planilha excel">
        <i class="fa fa-file-excel-o" style="font-size:17px;"></i>
        Importar <i class="fa fa-upload"></i>
      </button>
    </div>
  </div>

  <!-- exportando planilha excel -->
  <div class="col-xl-2 text-xs-center" title="Exportar planilha excel">
    <div class="mb-3">
      <div class="btn btn-outline-success" (click)="exportAsXLSX()">
        <i class="fa fa-file-excel-o" style="font-size:17px;"></i>
        Exportar <i class="fa fa-download"></i></div>
    </div>
  </div>

  <!-- adicionar usuário -->
  <div class="col-xl-3" *ngIf="hidden">
    <div class="mb-3">
      <button type="button" class="btn btn-sm btn-outline-success align-left" title="Adicionar usuário" (click)="openRegister()">
        Adicionar
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
      
    <div class="card mb-3">
      <div class="table-responsive">
        <table class="table table-hover no-padding">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Telefone</th>
              <th>Status</th>
              <th>
                <small *ngIf="hidden"> 
                  <button class="btn btn-outline-info btn-sm" (click)="toggleFiltro()" title="{{ textLabel }}">
                      <i class="fa fa-sliders fa-lg"></i>
                  </button>
                </small>
              </th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let u of users | paginate: { itemsPerPage: 5, currentPage: p}">
              <td scope="row">{{ u.id }}</td>
              <td>{{ u.nome }}</td>
              <td>{{ u.email }}</td>

              <td>{{ u.fone | mask: '(00) 00000-0000' }}</td>
                                          
              <!-- INATIVAR USUÁRIO -->
              <!-- se usuário comum -->
              <td *ngIf="u.status && u.nivel != 5" (click)="updateStatus(u)">
                  <small class="btn btn-sm btn-outline-success bg-status" title="Inativar">Ativo</small>
              </td>

              <!-- INATIVAR USUÁRIO -->
              <!-- se usuário admin -->
              <td *ngIf="u.status && u.nivel == 5">
                <button class="btn btn-sm btn-success bg-status" disabled title="Usuário Admin">
                  Ativo
                </button>
              </td>

              <!-- ATIVAR USUÁRIO -->
              <td *ngIf="!u.status" (click)="updateStatus(u)">
                  <small class="btn btn-sm btn-outline-danger bg-status" title="Ativar">Inativo</small>
              </td>
              
            
              <!-- EDITAR USUÁRIO -->
              <td class="lg-btn" (click)="onEdit(u)">
                <button class="btn btn-outline-primary btn-sm" title="Editar">
                  <i class="fa icon-pencil fa-pencil fa-lg"></i>
                </button>
              </td>

              <!-- EXCLUIR USUÁRIO - (user admin) -->
              <td class="lg-btn" *ngIf="u.nivel != 5 && hidden">
                <button class="btn btn-outline-danger btn-sm" title="Excluir" (click)="openModalDelete(content, u)">
                  <i class="fa icon-trash fa-trash fa-lg"></i>
                </button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- PAGINAÇÃO-->
    <small>
      <div class="box-footer text-center">
        <pagination-controls class="align-center" (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
      </div>
    </small>
  </div>
</div>
<app-spinner></app-spinner>
<app-alert></app-alert>

<!-- TEMPLATE DO MODAL DE EXCLUÃO DE REGISTRO DO ASSOCIADO -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">
      Excluir
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <p>Deseja realmente excluir esse registro?</p>
  </div>
  
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-info" (click)="c('Close click')">Não</button>
      <button type="button" class="btn btn-outline-info" (click)="c('Confirm click')">Sim</button>
  </div>
</ng-template>
