<app-page-header [heading]="title" [icon]="'fa-users'"></app-page-header>

<form [formGroup]="dForm" role="form" id="new-associado" ngNativeValidate>

  <div class="row">
    <!-- NOME -->
    <div class="col-lg-6">
      <fieldset class="form-group">
        Nome completo
        <input type="text" class="form-control" formControlName="nome" required>
      </fieldset>
    </div>
  
    <!-- EMAIL -->
    <div class="col-lg-6">
      <fieldset class="form-group">
        Email
        <input type="email" class="form-control" formControlName="email" required>
      </fieldset>
    </div>

    <!-- DATA DE NASCIMENTO -->
    <div class="col-lg-3">
      <fieldset class="form-group">
        Data de Nascimento
        <input type="text" class="form-control" formControlName="dataNascimento" mask='00/00/0000' required>
      </fieldset>
    </div>

    <!-- MATRICULA -->
    <div class="col-lg-3">
      <fieldset class="form-group">
        Matrícula

        <!-- Input matrícula padrão -->
        <div *ngIf="!hidden && user.nivel < 5">
          <input type="number" class="form-control" formControlName="matricula" disabled>
        </div>

        <!-- Input matrícula se usuário logado nível == 5 -->
        <div *ngIf="hidden || user.nivel >= 5">
          <input type="number" class="form-control" formControlName="matricula" required>
      </div>
      </fieldset>
    </div>

    <!-- TELEFONE -->
    <div class="col-lg-3">
      <fieldset class="form-group">
        Telefone
        <input type="text" class="form-control" formControlName="fone" mask='(00)00000-0000' required>
      </fieldset>
    </div>

    <!-- CPF -->
    <div class="col-lg-3">
      <fieldset class="form-group">
        CPF
        <input type="text" class="form-control" formControlName="cpf" mask='000.000.000-00' required>
      </fieldset>
    </div>

    <!-- LOTAÇÃO -->
    <div class="col-lg-3">
      <fieldset class="form-group">
        Lotação
        <input type="text" class="form-control" formControlName="lotacao">
      </fieldset>
    </div>

    <!-- REGIÃO -->
    <!-- <div class="col-lg-3">
      Região
      <select class="form-control" formControlName="regiao">
        <option *ngFor="let r of regioes" [ngValue]="r"></option>
      </select>
    </div> -->

    <!-- TIPO -->
    <!-- <div class="col-lg-3">
        Tipo
        <select class="form-control" formControlName="tipo">
        <option value="A"><b>A</b></option>
        <option value="B"><b>B</b></option>
      </select>
    </div> -->

    <!-- STATUS -->
    <div class="col-lg-3">
        Status
        <select class="form-control" formControlName="status" required>
        <option value="true"><b>Ativo</b></option>
        <option value="false"><b>Inativo</b></option>
      </select>
    </div>

    <!-- CEP -->
    <!-- <div class="col-lg-3">
      <fieldset class="form-group">
        CEP
        <input type="text" class="form-control" formControlName="cep">
      </fieldset>
    </div> -->

    <!-- ESTADOS -->
    <!-- <div class="col-lg-3">
      Estado
      <select class="form-control" formControlName="estado">
        <option *ngFor="let e of estados" [ngValue]="e"></option>
      </select>
    </div> -->

    <!-- CIDADE -->
    <!-- <div class="col-lg-6">
      <fieldset class="form-group">
        Cidade
        <input type="text" class="form-control" formControlName="cidade">
      </fieldset>
    </div> -->

    <!-- BAIRRO -->
    <!-- <div class="col-lg-3">
      <fieldset class="form-group">
        Bairro
        <input type="text" class="form-control"  formControlName="bairro">
      </fieldset>
    </div> -->

    <!-- RUA -->
    <!-- <div class="col-lg-6">
      <fieldset class="form-group">
        Rua
        <input type="text" class="form-control" formControlName="rua">
      </fieldset>
    </div> -->

    <!-- NÚMERO -->
    <!-- <div class="col-lg-3">
      <fieldset class="form-group">
        Número
        <input type="number" class="form-control" formControlName="numero">
      </fieldset>
    </div> -->

  </div>

  <div class="col-xl-12">
    <!-- CADASTRAR/ATUALIZAR -->
    <div class="mb-2">

      <button class="btn btn-sm btn-outline-secondary align-left" title="Continuar cadastro" (click)="save('CADASTRO')">
        Salvar e continuar
      </button>

      <button class="btn btn-sm btn-outline-success align-left margin-right" title="{{legBtnSave}}" (click)="save('LISTAGEM')">
        {{labelSuccess}}
      </button>

      <!-- VOLTAR -->
      <button type="submit" class="btn btn-sm btn-outline-primary align-btn-goBack" routerLink="/associateds">
        Voltar
      </button>

    </div>  
  </div>

</form>
<app-spinner></app-spinner>
<app-alert></app-alert>
